<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="#{app.title}"></title>
    <script th:inline="javascript">
        window.i18n = {
            lang: /*[[${lang}]]*/ 'ja'
        }
    </script>
</head>
<body>
    <div id="root"></div>
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
